<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.juliette.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MyCompatTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".UserAreaActivity"
            android:label="@string/title_activity_user_area"
            >

            <meta-data android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
        </activity>
        <activity android:name=".UserTypeActivity" />
        <activity android:name=".instituicao.RegisterInstitutionActivity" />
        <activity
            android:name=".instituicao.UserInstitutionAreaActivity"
            android:label="@string/title_activity_user_institution_area"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".EventActivity" />
        <activity android:name=".CampaignActivity" />
        <activity android:name=".ProfileInstitutionActivity" />
        <activity android:name=".instituicao.CreateTypeActivity" />
        <activity android:name=".instituicao.CreateEventActivity" />
        <activity android:name=".instituicao.CreateCampaignActivity"/>

    </application>
</manifest>